{% load static %}
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Contact - Fii Verde</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">🌿 Fii Verde</div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Acasă</a></li>
                <li><a href="/despre">Despre</a></li>
                <li><a href="/contact">Contact</a></li>
                {% if request.session.user_id %}
                <li><a href="/usersapp/dashboard">Contul meu</a></li>
                <li><a href="/usersapp/logout">Deconectare</a></li>
                {% else %}
                    <li><a href="/usersapp/login">Autentificare</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section class="contact-section">
        <div class="container">
            <h1>Contact</h1>
            <p><strong>Proiect:</strong> Platformă de colectare și gestionare a maculaturii în cadrul campaniei „Fii Verde!”</p>
            <p><strong>Materia:</strong> Managementul activităților cu suport electronic (e-activities)</p>
            <p><strong>Coordonator:</strong> Prof. Dr. Ing. Radu Rădescu</p>
            <p><strong>Website realizat de studenții: </strong>Iancu Cristian, Ionescu Cristian-George</p>
            <p><strong>Program de studii:</strong> Ingineria Informației și a Sistemelor de Calcul</p>
            <p><strong>Grupa:</strong> 411-IISC</p>
        </div>
    </section>
</body>
</html>
